<!-- users/templates/profile_page.html -->
{% extends 'main.html' %}

{% load crispy_forms_tags %}
{% load friendshiptags %}

{% block title %}Add Friends{% endblock title %}

{% block sidebar-content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Profile Information -->
    <div id='friends' class="bodycontent">
        <a href="{% url 'friends' %}"> Go to Friend Page </a> <br>
        <p> This is the add friends page </p>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Add Friend</button>
        </form>
    </div>

{% endblock sidebar-content %}
