<!-- users/templates/profile_page.html -->
{% extends 'standard_page.html' %}

{% load crispy_forms_tags %}
{% load friendshiptags %}

{% block title %}Add Friends{% endblock title %}

{% block page %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Profile Information -->
    <div id='friends' class="bodycontent">
        <a href="{% url 'friends' %}"> Go to Friend Page </a> <br>
        <p> This is the view friend requests page </p>

        {% friend_requests request.user %}
    </div>

{% endblock page %}
