<!-- users/templates/profile_page.html -->
{% extends 'standard_page.html' %}

{% load crispy_forms_tags %}

{% block title %}Edit Profile Page{% endblock title %}

{% block page %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Profile Information -->
    <div id='profile' class='map'>
        <a href="{% url 'maps' %}">Home</a>
        <br>
        <p> This is the Edit Profile Page</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>

        </form>
        <br>
    </div>



{% endblock page %}
