{% block sidebar-content %}
    {% load crispy_forms_tags %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Profile Information -->
        <div class='container'>
            <div class="row">
                <div class="col text-center text-light">
                    <h3 style="font-family: courier; margin-top: 5%">My Profile</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-group list-group-flush">
                        <p class="list-group-item border home_sb_link btn btn-warning" role="tab"><b>Home</b></p>
                        <p class="list-group-item border btn btn-warning" id="profile-username" role="tab"><b>Username:</b> {{ user.username }}</p>
                        <p class="list-group-item border btn btn-warning" role="tab" id="profile-first_name"><b>First Name:</b> {{ user.first_name }}</p>
                        <p class="list-group-item border btn btn-warning" role="tab" id="profile-last_name"><b>Last Name:</b> {{ user.last_name }}</p>
                        <p class="list-group-item border btn btn-warning" role="tab" id="profile-email"><b>Email:</b> {{ user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock sidebar-content %}
