<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}



{% block content %}
  {% include "header.html" %}
  <div class="container">
    <h2 style="text-align: center; margin-top: 5%">Sign Up</h2>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Sign up</button>
  </form>
{% endblock %}

{% block js %}
  <script>
    $("#id_username").change(function () {
      var username = $(this).val();

      $.ajax({
        url: '{% url "validate_username" %}',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            document.getElementById("hint_id_username").innerHTML = "<p style='color:red;'>That username is already taken!</p>";
          }
          else {
            document.getElementById("hint_id_username").innerHTML = "Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.";
          }
        }
      });
    });
  </script>
{% endblock js%}