<!-- users/templates/standard_page -->
{% extends 'base.html' %}

{% block title %}Standard Page{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <!-- SIDEBAR -->
        <div class='sidebar'>
            <div class='heading'>
                <h1>Upcoming Events</h1>
                <ul style="list-style-type: none;">
                    <li>Pickup</li>
                    <li><a href="{% url 'maps' %}" class="nav">Home Page</a></li>
                    <li><a href="{% url 'testing' %}" class="nav">Testing</a></li>
                    <li><a href="{% url 'map_def' %}" class="nav">map_def</a></li>
                    <li><a href="{% url 'logout' %}" class="nav">Logout</a></li>
                    <li><a href="{% url 'password_reset' %}" class="nav">Reset Password</a></li>
                    <li><a href="{% url 'profile_page' %}" class = "nav"> Profile Page </a></li>
                </ul>
            </div>
        </div>

        <!-- Page Information -->
        <div id='page' class='nav'>
            {% block page %} {% endblock %}
        </div>


        <!-- LANDING PAGE -->
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a> |
        <a href="{% url 'signup' %}">signup</a>
    {% endif %}

{% endblock content %}
