<div class="container">
<div class="row">
<div class="col-12">
<div class="list-group">
{% if users.count > 0 %}

	{% for user in users %}
	<div class="list-group-item border">
		<p>{{ user.username }}</p>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name }}</p>
	</div>
	<button id='send-to-{{user.username}}' class='btn btn-primary send'>Send friend request</button>
	{% endfor %}

{% else %}
	<li class="list-group-item text-danger">No results</li>
{% endif %}
</div>
</div>
</div>
</div>