{% block sidebar-content %}
    {% load crispy_forms_tags %}
    {% load friendshiptags %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Friends Information -->
    <div id='friends' class="bodycontent" >
        <div class="text-center" style="margin-top: 10%">

        <p> This is the maps friends page </p>
        <a href="{% url 'add_friend' %}" class="nav" > Add a friend</a> <br>
        <a href="{% url 'view_friend_requests' %}" class="nav" > View friend requests</a> <br>
        <a href="{% url 'view_friends' %}" class="nav" >  View friends</a> <br>
        <a href="{% url 'remove_friend' %}" class="nav" > Remove friend</a>

        <br>
        <p class="nav link home_sb_link">Home</p>
    </div>

{% endblock sidebar-content %}
