{% block sidebar-content %}
    {% load crispy_forms_tags %}
    {% load friendshiptags %}
    {% load static %}
    <div class="bodycontent">
    <!-- Friends Information -->
        <p class="border home_sb_link btn btn-home">Home</p>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-group list-group-flush">
                        <p id="friends_view_site" class="list-group-item btn" role="tab">View Friends</p>
                        <p id="search_friends" class="list-group-item btn" role="tab">Add Friends</p>
                        <p id="friends_requests_site" class="list-group-item btn" role="tab">Friend Requests</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock sidebar-content %}