<div class="container">
<div class="row">
<div class="col-12">
<div class="list-group">
{% if friends|length > 0 %}
    {% for friend in friends %}
    <div class="list-group-item border">
        <p>{{ friend.username }}</p>
        <p>{{ friend.first_name }}</p>
        <p>{{ friend.last_name }}</p>
        <button id='send-to-{{friend.username}}' class='btn btn-primary remove'>Remove</button>
    </div>
    {% endfor %}

{% else %}
    <li class="list-group-item text-danger">You currently have no friends</li>
{% endif %}
</div>
</div>
</div>
</div>