<div class="container">
<div class="row">
<div class="col-12">
<div class="list-group">
{% if friends|length > 0 %}
    {% for friend in friends %}
    <div class="list-group-item border text-center">
        <p>{{ friend.first_name }} {{ friend.last_name }}</p>
		<p class="username">Username: {{ friend.username }}</p>
        <button id='send-to-{{friend.username}}' class='btn remove btn-good border'>Remove friend</button>
    </div>
    {% endfor %}

{% else %}
    <li class="list-group-item text-danger">You currently have no friends</li>
{% endif %}
</div>
</div>
</div>
</div>