.link {
    color: #c5c3c3;
    text-decoration: none;
}

.link:hover {
    color: #ffffff;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar {
    background-color: rgb(13, 146, 255);
    position: absolute;
    bottom: 0;
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
    padding: 20px;
}

.map {
    position: absolute;
    left: 25%;
    width: 75%;
    top: 0;
    bottom: 0;
}

.bodycontent {
    position: absolute;
    color: white;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    left:15%;
    top: 1%;
    width: 75%;
    bottom: 0;
    -webkit-font-smoothing: antialiased;
}

.nav {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.heading {
    background: black;
    border-bottom: 1px solid #eee;
    height: 120px;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #db0000;
    border-radius: 0;
}

.clearfix {
    display: block;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.marker {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}