{% block sidebar-content %}
    {% load crispy_forms_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <div id ="testing" class="bodycontent" >
        <p class="border home_sb_link btn btn-home" style="margin-top: 10%">Home</p>
        <br>

        {%  if event_form %}
            <form id="event_form" method="post">
                {% csrf_token %}
                {{ event_form|crispy }}
                {{ event_form.media }}
                                
                <div>
                    <p id="date-error-msg" style="text-align: center; font-weight: bold; font-size: 14px; color: black;"></p>
                    <p id="time-error-msg" style="text-align: center; font-weight: bold; font-size: 14px; color: black;"></p>
                </div>

                <button type="submit" class='btn btn border' id="add-event-submit" style="color:white; background-color:orange ">Add Event</button>
                <button type="button" class='btn btn border home_sb_link' style="color:white; background-color:#004fed; ">Cancel</button>
            </form>
        {% endif %}

        {% if all_events %}
            <h1>Events:</h1>
            {% for event in all_events%}
                <h1> ({{forloop.counter}}) {{event.event_name}}</h1>
                {% if event.user != '-1'%} <li> Created By: {{event.user}} </li> {% endif %}
                {% if event.event_descr != '-1'%} <li> Description: {{event.event_descr}} </li> {% endif %}
                {% if event.location != '-1'%} <li> Location: {{event.location}} </li> {% endif %}
                <br>
            {% endfor %}
        {% endif %}

        
    </div>

    


    <img src="{% static 'pixel.png' %}" onload='
        var dateValid = false;
        var timeValid = false;


        function invalid() {
            if (!dateValid)
                document.getElementById("add-event-submit").disabled = true;
                document.getElementById("date-error-msg").innerText = "Date cannot be in the past.";
            if (!timeValid)
                document.getElementById("add-event-submit").disabled = true;
                document.getElementById("time-error-msg").innerText = "Starting time must be less than ending time.";
            if (timeValid)
                document.getElementById("time-error-msg").innerText = "";
            if (dateValid)
                document.getElementById("date-error-msg").innerText = "";

            if (timeValid && dateValid)
                document.getElementById("add-event-submit").disabled = false;
        }

        var start = parseInt($("#id_start_time").val().substring(0, 2));
        var end   = parseInt($("#id_end_time").val().substring(0, 2));

        if (start >= end) {
            timeValid = false;
            invalid();
        }

        $(document).on("change", "#id_start_time", function() {
            start = parseInt($("#id_start_time").val().substring(0, 2));
            end   = parseInt($("#id_end_time").val().substring(0, 2));

            if (start >= end)
                timeValid = false;
            else
                timeValid = true;
            invalid();
        });

        $(document).on("change", "#id_end_time", function() {
            start = parseInt($("#id_start_time").val().substring(0, 2));
            end   = parseInt($("#id_end_time").val().substring(0, 2));

            if (start >= end)
                timeValid = false;
            else
                timeValid = true;
            invalid();
        });

        $(document).on("change", "#id_date", function(event) {
            d = new Date(event.target.value);
            now = new Date();
            
            if (d.getFullYear() < now.getFullYear())
                dateValid = false;
            else if (d.getFullYear() == now.getFullYear()) {
                if (d.getMonth() < now.getMonth())
                    dateValid = false;
                else if (d.getMonth() == now.getMonth())
                    if (d.getDate() < now.getDate())
                        dateValid = false;
                    else
                        dateValid = true;
                else 
                    dateValid = true;
            }
            else
                dateValid = true;
            invalid();
        });
    '>
{% endblock sidebar-content %}