<div class="container">
<div class="row">
<div class="col-12">		
<div class="list-group">
{% if events|length > 0 %}
	
	{% for event in events %}
    <div class="list-group-item border">
        <p class="text-center"><b>{{ event.event_name }}</b><br>
        {{ event.event_descr }} <br>
        <em>Happening in: {{ event.location }}</em>
    </p>
        

        <div class="text-center">
            <p class="link btn btn-success text-center" id="see-{{ event.id }}">See map for more info</p>
            <script type="text/javascript">
                $("#see-{{ event.id }}").click(function() {
                    map.setCenter([{{ event.lng }}, {{ event.lat }} ]);
                });
            </script>
        </div>
        
    </div>
    {% endfor %}

{% else %}
	<li class="list-group-item text-danger">No results</li>
{% endif %}
</div>
</div>
</div>
</div>