<!-- maps/templates/default.html -->
{% extends 'base.html' %}

{% block title %}Pickup{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- SIDEBAR -->
    <div class='sidebar'>
        <div class='heading'>
            <h1>Upcoming Events</h1>
            <a href="{% url 'testing' %}" class="nav">Testing</a>
            <a href="{% url 'map_def' %}" class="nav">map_def</a>
            <a href="{% url 'logout' %}" class="nav">Logout</a>
            <a href="{% url 'password_reset' %}" class="nav">Reset Password</a>            
        </div>
        <div id='listings' class='listings'></div>
    </div>

    <!-- MAP -->
    <div id='map' class='map'></div>    
    {% load static %}
    <script src="{% static 'js/load.js' %}" type="text/javascript"></script>

        <!-- LANDING PAGE -->
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a> |
        <a href="{% url 'signup' %}">signup</a>
    {% endif %}

{% endblock content %}
        
            