<!-- maps/templates/default.html -->
{% extends 'base.html' %}

{% block title %}Pickup{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <!-- SIDEBAR -->
        <div class='sidebar'>
            <div class='heading'>
                <h2> Pickup </h2>
                <ul style="list-style-type: none; font-size: medium">
                    <li>COS333 Project Version Alpha </li>
                    <li><a href="{% url 'maps' %}" class="nav">Home Page</a></li>
                    <li><a href="{% url 'testing' %}" class="nav">Testing</a></li>
                    <li><a href="{% url 'map_def' %}" class="nav">map_def</a></li>
                    <li><a href="{% url 'logout' %}" class="nav">Logout</a></li>
                    <li><a href="{% url 'password_reset' %}" class="nav">Reset Password</a></li>
                    <li><a href="{% url 'profile_page' %}" class = "nav"> Profile Page </a></li>
                    <li><a href="{% url 'friends' %}" class="nav">Friends</a> </li>
                    <li><a href="#" class="nav" id="add_anchor">Add an event</a></li>
                </ul>

            </div>
            <div id='listings' class='listings'></div>
        </div>

        <!-- MAP -->
        <div id='map' class='map'></div>
        
        <!-- POPUP WHEN ADDING EVENT -->
        <pre id='add_event' class='add_event'></pre>

        
        
        <!-- LANDING PAGE -->
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a> |
        <a href="{% url 'signup' %}">signup</a>
    {% endif %}

{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static 'js/load.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/add-event.js' %}" type="text/javascript"></script>
{% endblock js %}

        
            