{% block sidebar-content %}
    <div id ="testing" class="bodycontent">
        <div class="home_sb_link btn btn-home" style="margin-bottom: 5%">Home</div>
        <br>
        
        <!-- All users going to an event -->
        <div class="card">
            <ul class="list-group">
            {% if friends_going|length > 0 %}        
                {% for friend in friends_going %}
                <div class="list-group-item border text-center">
                    <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                    <p class="username">Username: {{ friend.username }}</p>
                </div>
                {% endfor %}
            {% else %}
                <li class="list-group-item text-danger">None of your friends are going</li>
            {% endif %}
            </ul>
        </div>  
    </div>
{% endblock sidebar-content %}