{% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block sidebar-content %}
    <div class='container'>
        <div class="row">
            <div class="col text-center text-light">
                <h2>Pickup</h2>
            </div>
        </div>
    </div>    
    <div class="container">
        <ul style="list-style-type: none; font-size: medium">
            <li><p id="home_sb_link" class="nav link">Home</a></li>
            <li><a href="{% url 'logout' %}" class="nav link">Logout</a></li>
            <li><a href="{% url 'password_reset' %}" class="nav link">Reset Password</a></li>
            <li><a href="{% url 'friends' %}" class="nav link">Friends</a></li>
            <li><p id="profile_sb_link" class="nav link">View Profile</p></li>
            <li><p id="add_event_link" class="nav link">Add an event</p></li>
        </ul>
    </div>
{% endblock sidebar-content %}