{% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block sidebar-content %}
    <div class='container'>
        <div class="row">
            <div class="col text-center text-light">
                <h2 style="font-family: courier;">Pickup</h2>
            </div>
        </div>
    </div>
        
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="list-group list-group-flush">
                    <p class="list-group-item border home_sb_link btn btn-primary" role="tab">Home</p>
                    <a href="{% url 'password_reset' %}" class="border list-group-item btn btn-primary" role="tab">Reset Password</a>
                    <p id="profile_sb_link" class="list-group-item btn btn-primary border" role="tab">View Profile</p>
                    <p id="friends_sb_link" class="list-group-item btn btn-primary border" role="tab">Friends</p>
                    <p id="upcoming" class="list-group-item btn btn-primary border" role="tab">View My Upcoming Events</p>
                    <p id="add_event_link" class="list-group-item btn btn-primary border" role="tab">Add an event</p>
                    <p id="search_events" class="list-group-item btn btn-primary border" role="tab">Search for events</p>
                    <a href="{% url 'logout' %}" class="border list-group-item btn btn-primary" role="tab">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock sidebar-content %}