<!DOCTYPE html>
<html>
  <head>
    <title>Interactive maps for Django web apps</title>

    <!-- FOR MAPBOX -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

  </head>
  <body>

    <!-- FOR MAPBOX -->
    <div id='map' style='width: 100%; height: 800px;'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoib3NjaHdhcnR6IiwiYSI6ImNqczBsb2xhNDFrd200OXBkdXpra3Bta2cifQ.Z42kI1y7iOoxBuBYhmnKuw';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/satellite-streets-v10',
        center: [-77.03, 38.91],
        zoom: 9,
        bearing: 180
      });
    </script>

    <h1>Map time!</h1>
  </body>
</html>